{
    "plugins": ["@shufo/prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.php", "*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4,
                "endOfLine": "lf",
                "singleQuote": false,
                "trailingCommaPHP": true,
                "htmlWhitespaceSensitivity": "ignore"
            }
        }
    ]
}
